html {
    scroll-behavior: smooth;
}

button:focus {
    border: none;
    outline: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
    background: #82ccdd00;
    /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
    background-color: #46e08c;
    /* color of the scroll thumb */
    border-radius: 50px;
    /* roundness of the scroll thumb */
    border: 4px solid white;
    /* creates padding around scroll thumb */
}